<header>
    <img 
    src="/assets/img/dener.jpg" 
    alt="Ismael foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Ismael Nunes Campos</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Java | Angular | Java | Spring boot</p>
        <p>Uberlândia, Minas Gerais, Brasil</p>
        <p>
            Estou na área de desenvolvimento de software mais de 10 anos.Devido a isso resolvi abraçar a stack JS pois atua nos estados unidos / backend.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ismael-nunes-campos-48064518a/" target="_blank" class="btn btn-secondary">
                      LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        
    </div>
    <section>
        <figure>
            <img src="./assets/icons/whatsapp.svg" alt=""
            width="22px"
            height="24px"
            >
        </figure>
        <figcaption>
            <a href="https://api.whatsapp.com/send?phone=5534991003398" target="_blank">
                <strong>Envie uma mensagem para: </strong>
                <p>whatsapp: (34) 9 9100-3397</p>
            </a>
        </figcaption>
        <figure>
            <img src="/assets/icons/mail.svg" alt=""
            width="22px"
            height="24px"
            >
        </figure>
        <figcaption>
            <a href="mailto:ismaeldenunes@gmail.com" target="_blank">
                <strong>Envie um email para: </strong>
                <p>ismaeldenunes&#64;gmail.com</p>
            </a>
        </figcaption>
    </section>
  
</aside>